---
import Layout from '../layouts/Default.astro';

let title = 'What Does Matt Use?';
let description = 'The tools I use to get things done';
let subTitle = 'The tools I use to get things done.'
let permalink = '/uses';
let tags = ['Tools', 'Apps', 'Programs', 'Productivity']
---

<Layout title={title} subTitle={subTitle} description={description} permalink={permalink} tags={tags}>

  <h2>Tech Stack</h2>

  <ul>

    <li>ASP.NET 6 (fka ASP.NET Core)</li>
    <li>Vue.JS</li>
    <li>React - mostly at work</li>
    <li>Microsoft SQL Server</li>
    <li>Postgres</li>
    <li>Docker</li>

  </ul>

  <h2>Editors + Tools</h2>

  <ul>
    <li>VS Code</li>
    <li>Visual Studio (currently 2022, but I rarely open full VS these days)</li>
    <li>Azure Data Studio - I've mostly replaced my reliance on SSMS with this</li>
    <li>Postgres plugin for Azure Data Studio</li>
    <li>Windows Terminal</li>
    <li>Linqpad - easy way to run C# code snippets to test / prove things out</li>
    <li>AWS CLI - managing AWS resources</li>
    <li>AWS Cloudformation - infrastructure as code for AWS</li>
  </ul>

  <h2>Services + Hosting</h2>

  <ul>
    <li>AWS</li>
    <li>GitHub</li>
    <li>Netlify</li>
    <li>Twitch - hosting & watching live coding streams</li>
  </ul>

  <h2>Other Apps</h2>

  <ul>
    <li>Firefox</li>
    <li>Microsoft Todo - current todo list favorite; syncs across all my devices and supports multiple lists</li>
    <li>Slack</li>
    <li>Discord</li>
  </ul>

</Layout>
