---
import Layout from '../layouts/Default.astro';
import FirstPersonBio from '.././components/bio/FirstPerson.astro';

let title = 'About Matt';
let description = 'Learn more about Matt Millican, full-stack developer and cloud enthusiast.';
let subTitle = 'Full-stack software engineer, cloud enthusiast and continuous learner.'
let permalink = '/about';
let tags = ['About', 'Matt Millican', 'Software Engineer', 'Engineering Manager']
---

<Layout title={title} subTitle={subTitle} description={description} permalink={permalink} tags={tags}>
  <div class="flex space-x-10">
    <div class="w-full sm:w-2/3 text-lg leading-loose">
      <FirstPersonBio />
    </div>

    <div class="w-full sm:w-1/3 hidden sm:inline-block not-prose">
      <img src="/assets/img/headshot.jpg" class="w-32 sm:w-64 rounded-md" />
    </div>
  </div>
</Layout>
