---
import Layout from '~/layouts/Page.astro';

const meta = {
  title: 'Projects',
  description: 'Some of the various projects I\'m building, or have built.',
}

interface ProjectMeta {
  displayOrder: number;
  name: string;
  dates?: string;
  startYear: number;
  endYear?: number;
  githubUrl?: string;
  stack: Array<string>;
}

const projects = await Astro.glob<ProjectMeta>('../../data/projects/*.md');
const sortedProjects = projects.sort((a, b) => b.frontmatter.startYear - a.frontmatter.startYear)
---

<Layout {meta} subtitle={meta.description}>

<div class="project-list grid grid-cols-1 sm:grid-cols-2 gap-4">
  {
    sortedProjects.map(project => (
      <div class="project p-4 md:transition-colors md:duration-300 md:hover:bg-zinc-800 border-2 border-zinc-800 rounded-3xl">
        <div class="flex items-centered justify-between">
          <h3 class="mt-0">{project.frontmatter.name}</h3>
          <p class="dates">
            { `${project.frontmatter.startYear} - ${project.frontmatter.endYear ?? 'present'}`}
          </p>
        </div>

        <div class="description">
          <Fragment set:html={project.compiledContent()} />
        </div>

        <ul class="columns-2">
          {
            project.frontmatter.stack.map(stackItem => (
              <li class="first:mt-0">{stackItem}</li>
            ))
          }
        </ul>
      </div>
    ))
  }
</div>

</Layout>
